* {
    font-family: cursive;
}

body {
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid teal;
    list-style: none;
}

.navigation-Add {
    border-radius: 4px;
    border: transparent;
    background-color: teal;
    padding: 8px;
    color: white;
    cursor: pointer;
}

.booksCount {
    color: teal;
}

.navigation-header {
    margin: 0;
    color: teal;
}

ul {
    margin: 0;
}

.cards {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    border: 1px solid teal;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    color: teal;
}

.card-book-title {
    font-size: 1.5rem;
}

button {
    border: 1px solid transparent;
    border-radius: 12px;
    width: 100%;
    padding: 8px 0;
}

.reading-status-true {
    background-color: teal;
    color: white;
}

.reading-status-false {
    background-color: gray;
    color: white;
}

.remove-button {
    background-color: gray;
    color: white;
}